body{
    background-color:rgb(147, 147, 148)
}

#brasãoPrefeitura {
    display: flex;
    background-color:rgb(211, 231, 243);
    justify-content: center;
    align-items: center;
    margin: 120px 0px 0px;
    height: 100px;
}

#logo {
    width: 170px;
    height: 50px;
}

#botões {
    background-color: rgb(211, 231, 243);
}

#cadastrese {
    margin: 0px;
    text-align: center;
    padding: 15px;
    font-family: Impact, fantasy;
    font-weight: 100;
}

#nomeCompleto {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#botaoNome {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#genero {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#botaoGenero {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#idade {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#botaoIdade {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#logradouro {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#botaoLogradouro {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#email {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#botaoEmail {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#senha {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#botaoSenha {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#entrar {
    background-color: rgb(211, 231, 243);
}

#botaoEntrar {
    width: 150px;
    margin: 30px 125px 30px;
    background-color: rgb(102, 168, 85);
    border-color: rgb(102, 168, 85);
}
