body{
    background-color: #f2f2f2
}

#logoPrefeitura {
    display: flex;
    background-color: #023859;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 0px;
    height: 100px;
}

#logo {
    width: 350px;
    height: 225px;
}

#botões {
    background-color: #023859;
}

#cadastrese {
    margin: 0px;
    text-align: center;
    padding: 15px;
    font-family: Impact, fantasy;
    font-weight: 100;
    color: white;
}

#nomeCompleto {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#botaoNome {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#genero {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#botaoGenero {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#idade {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#botaoIdade {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#logradouro {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#botaoLogradouro {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#email {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#botaoEmail {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#senha {
    margin: 10px 50px 0px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#botaoSenha {
    margin: 5px 50px 5px;
    width: 300px;
    height: 20px;
}

#entrar {
    background-color: #023859;
}

#botaoEntrar {
    width: 150px;
    margin: 30px 125px 30px;
    background-color: #F2B807;
    border-color: #F2B807;
}
