body{
    background-color: #023859;
}

#junção{
    display: flex;
}

#logo{
    width:460px;
    height:180px;
}

#logoPrefeitura{
    padding: 3px;
}

#riscos{
    width: 50px;
    height: 40px;
    margin: 0px 100px 0px;
}

#joguinho{
    font-family: impact, fantasy;
    font-size: 60px;
    color: white;
    padding-left: 200px;
}

#jogo{
    color:black;
    background-color: #FeB807;
    width: 280px;
    font-size: 50px;
    border-radius: 100px;

}