body{
    background-color:#f2b807;
}

#logo{
    width: 460px;
    height: 260px;
}
#divcabecalho {
    display: flex;
}
#video{
    color:black;
    background-color:#F21D2F;
    border-radius: 7px;
    width: 250px;
    font-size: 40px;
    border-radius: 90px;
}

#h3{
    font-size:200px;
    text-align: center;
}


#riscos{
    width: 50px;
    margin: 10px 10px;
}

h3{
    font-size: 50px;
}

#tintaVermelha{
    align-items: center;
    display: flex;
}