body {
    background-color: #023859;
}
#logo {
    width: 250px;
    margin: 0px 10px ;
}
#respansivo {
    width: 30px;
    margin: 30px 10px 60px 50px;
}
#capaEnsinoMedio {
    width: 500px;
    object-position: 0.5px;
    
}
