body {
    background-color:#023859;
}

#logo {
    width: 210px;
}

.eptran {
    color:black;
    background-color: #FeB807;
    border-radius: 7px;
    width: 250px;
    font-size: 26px;
    border-radius: 100px;
    margin: 35px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio {
    width: 420px;
    height: 230px;
}

#riscos {
    width: 50px;
    margin: 30px 150px;
}

#junção {
    display: flex;
}

#sinal {
    width: 220px;
    margin: 1px 1px;
}


