/* organizar a div
organiza o tamanho das coisas
sticky

caso repita id usa class
*/

body {
    background-color: rgb(147, 147, 148) ;
}
#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023859;
    height: 150px;
    margin: 200px 0px 0px;
}
#div2  {
    background-color: #023859 ;
    
}
#div3 {
    background-color: #023859 ;
    
}
#login {
    margin: 0px;
    padding: 15px 0px 30px; 
    text-align: center;
    font-family: Impact, fantasy;
    font-weight: 100; 
    color: #f2f2f2;

}
#botaoEmail {
    margin: 2px 50px 0px;
    width: 300px;
}
#botaoSenha {
    margin: 2px 50px 0px;
    width: 300px;
}

#textoEmail {
    margin: 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #f2f2f2;
}
#textoSenha {
    margin: 20px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #f2f2f2;
}

#botaoEntrar {
    width: 100px;
    height: 30px;
    margin: 30px 150px 10px; 
    background-color: #f2b807;
    border-color: #f2b807; 
}

#logo {
    width: 350px;
    height: 200px;
}