/* organizar a div
organiza o tamanho das coisas
sticky

caso repita id usa class
*/

body {
    background-color: rgb(147, 147, 148) ;
}
#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023859;
    height: 150px;
    margin: 200px 0px 0px;
}
#div2  {
    background-color: rgb(211, 231, 243) ;
    
}
#div3 {
    background-color: rgb(211, 231, 243) ;
    
}
#login {
    margin: 0px;
    padding: 15px 0px 30px; 
    text-align: center;
    font-family: Impact, fantasy;
    font-weight: 100; 

}
#botaoEmail {
    margin: 2px 50px 0px;
    width: 300px;
}
#botaoSenha {
    margin: 2px 50px 0px;
    width: 300px;
}

#textoEmail {
    margin: 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#textoSenha {
    margin: 20px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#botaoEntrar {
    width: 100px;
    height: 30px;
    margin: 30px 150px 10px; 
    background-color: rgb(102, 168, 85);
    border-color: rgb(102, 168, 85); 
}

#logo {
    width: 350px;
    height: 200px;
}