body{
    background-color: rgb(211, 231, 243);
}

#logo{
    width: 440px;
    height: 120px;
}

#video1{
    color:black;
    background-color: rgb(106, 170, 106);
    border-radius: 7px;
    width: 250px;
    font-size: 40px;
    border-radius: 90px;

}

#ler1{
    color: black;
    background-color:  rgb(106, 170, 106);
    border-radius: 7px;
    width: 250px;
    font-size: 40px;
    border-radius: 90px;
}
h3{
    font-size:70px;
    text-align: center;
}


#riscos{
    width: 50px;
    height: 10px 150px;
}