body{
    background-color:rgb(147, 147, 148)
}

#div1 {
    display: flex;
    background-color:rgb(211, 231, 243);
    justify-content: center;
    align-items: center;
}

#logo {
    width: 160px;
    height: 40px;
}

#div2 {
    background-color: rgb(211, 231, 243);
}

#cadastrese {
    text-align: center;
}

#nomecompleto {
    text-align: center;   
}

#botaoNome {
    margin: 0px 110px 0px;
    border-color: white;
}

#genero {
    text-align: center;
}

#botaoGenero {
    margin: 0px 110px 0px;
    border-color: white;
}

#idade {
    text-align: center;
}

#botaoIdade {
    margin: 0px 110px 0px;
    border-color: white;
}

#logradouro {
    text-align: center;
}

#botaoLogradouro {
    margin: 0px 110px 0px;
    border-color: white;
}

#email {
    text-align: center;
}

#botaoEmail {
    margin: 0px 110px 0px;
    border-color: white;
}

#senha {
    text-align: center;
}

#botaoSenha {
    margin: 0px 110px 0px;
    border-color: white;
}

#div3 {
    background-color: rgb(211, 231, 243);
}

#botaoEntrar {
    width: 150px;
    margin: 30px 125px 30px;
    background-color: rgb(102, 168, 85);
    border-color: rgb(102, 168, 85);
}
